<footer>
    <div class="grid-row">
        <section class="footer">
            <ul>
                <li class="footer-item">Support</li>
                <li> • </li>
                <li class="footer-item" id="language-switcher">
                    Language
                    <ul class="dropdown">
                        <li data-lang="en">English</li>
                        <li data-lang="ua">Українська</li>
                    </ul>
                </li>
                <li> • </li>
                <li class="footer-item">About</li>
                <li> • </li>
                <li class="footer-item">links...</li>
            </ul>
        </section>
    </div>
</footer>