<!-- header.ejs -->

<header>
    <div class="flex-container">
        <img id="logo" src="/images/logo-1.png" alt="logo"> 
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/play">Play</a></li>
                <li><a href="/training">Training</a></li>
                <li><a href="/lesson">Lessons</a></li>
            </ul>
        </nav>
    </div>
    <div class="nav-item">
        <ul>
            <li><a href="search.html">Search</a></li>
            <li><a href="friends.html">Fr I</a></li>
            <li><a href="account.html">Account</a></li>
        </ul>
    </div>
</header>
