<%- include('../partials/header.ejs') %>

<main>
    <div class="lobby">
        <section class="history">
            <h2>History</h2>
        </section>
        <div class="right-container">
            <div class="grid-row">
                <section class="grid-item">
                    <div class="icon">icon</div>
                    <div class="board-img"><img class="board-game" src="/images/board-game-1.jpg" alt="board-game-1"></div> <!-- Updated Path -->
                    <div class="content">Play</div>
                </section>
                <section class="grid-item">
                    <div class="icon">icon</div>
                    <div class="board-img"><img class="board-game" src="/images/board-game-1.jpg" alt="board-game-2"></div> <!-- Updated Path -->
                    <div class="content">Puzzles</div>
                </section>
            </div>
            <div class="grid-row">
                <section class="grid-item">
                    <div class="icon">icon</div>
                    <div class="board-img"><img class="board-game" src="/images/board-game-1.jpg" alt="board-game-3"></div> <!-- Updated Path -->
                    <div class="content">Game Review</div>
                </section>
                <section class="grid-item">
                    <div class="icon">icon</div>
                    <div class="board-img"><img class="board-game" src="/images/board-game-1.jpg" alt="board-game-4"></div> <!-- Updated Path -->
                    <div class="content">Learning</div>
                </section>
            </div>
            <div class="grid-row">
                <section class="footer">
                    <ul>
                        <li class="footer-item">Support</li>
                        <li> • </li>
                        <li class="footer-item" id="language-switcher">
                            Language
                            <ul class="dropdown">
                                <li data-lang="en">English</li>
                                <li data-lang="ua">Українська</li>
                            </ul>
                        </li>
                        <li> • </li>
                        <li class="footer-item">About</li>
                        <li> • </li>
                        <li class="footer-item">links...</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</main>
